.sidebar ul li  {
    margin-bottom: 10%;
    list-style: none;
    justify-content: space-evenly;
    font-size: large;
}

.sidebar{
    background-color: grey;
    height : 100vh;
}

.sidebar a{
    text-decoration: none;
    color: white;

}
.sidebar ul   {
     
   
    justify-content: space-evenly;

}


  
  .sidebar ul li:last-child {
    margin-bottom: 0; /* Enlève le dernier espace pour que ça soit propre */
  }

  
 ul li a:hover {
    color: black;
    
  }